.main__title {
  display: flex;
  justify-content: center;
}

.modal__wrapper {
  position: fixed;
  left: 35%;
  top: 15%;
  background-color: rgb(237, 95, 95);
  border-radius: 5px;
  width: 500px;
  height: 180px;
  z-index: 2;
}

.modal__title {
  display: flex;
  justify-content: center;
  font-size: 25px;
  background: rgba(22, 20, 20, 0.357);
  border-radius: 5px;
  margin: 0;
  padding: 10px;
}

.button__container {
  display: flex;
  justify-content: center;
}

.modal__button {
  width: 100px;
  height: 40px;
  margin-right: 8px;
  border: none;
  border-radius: 5px;
  background: #00000045;
  color: #fff;
  &:hover {
    box-shadow: 7px 7px 7px rgba($color: #6f1818, $alpha: 0.2);
  }

  &:active {
    transform: scale(0.9);
  }
}

// .modal__title {
//   margin: 0;
//   padding: 10px;
// }

.card__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
