.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.button {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: large;
  color: rgb(204, 34, 34);
  box-shadow: 3px 3px rgba($color: #6f1818, $alpha: 0.2);

  &:hover {
    box-shadow: 7px 7px 7px rgba($color: #6f1818, $alpha: 0.2);
  }

  &:active {
    transform: scale(0.9);
  }
}
