.cards__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  list-style: none;
}

.add__button {
  position: relative;
  bottom: 30px;
  left: 245px;
  padding: 10px;
  border-radius: 4px;
  border-style: none;
  background-color: rgb(152, 187, 187);
  &:hover {
    box-shadow: 3px 3px 20px rgba($color: #12534c, $alpha: 0.3);
  }
  &:active {
    transform: scale(0.9);
  }
}

.main__title {
  display: flex;
  justify-content: center;
}

.modal__wrapper {
  position: fixed;
  left: 35%;
  top: 15%;
  background-color: rgb(237, 95, 95);
  border-radius: 5px;
  width: 500px;
  height: 180px;
  z-index: 2;
}

.modal__title {
  display: flex;
  justify-content: center;
  font-size: 25px;
  background: rgba(22, 20, 20, 0.357);
  border-radius: 5px;
  margin: 0;
  padding: 10px;
}

.button__container {
  display: flex;
  justify-content: center;
}

.modal__button {
  width: 100px;
  height: 40px;
  margin-right: 8px;
  border: none;
  border-radius: 5px;
  background: #00000045;
  color: #fff;
  &:hover {
    box-shadow: 7px 7px 7px rgba($color: #6f1818, $alpha: 0.2);
  }

  &:active {
    transform: scale(0.9);
  }
}

// .modal__title {
//   margin: 0;
//   padding: 10px;
// }

.card__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.text__container {
  text-align: center;
}

.modal__bg {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #d3d3d3;
  left: 0;
  opacity: 70%;
  z-index: 1;
}
