.fav__title {
  text-align: center;
}

.fav__list {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  margin-top: 100px;
}
