.cards__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  list-style: none;
}

.add__button {
  position: relative;
  bottom: 30px;
  left: 245px;
  padding: 10px;
  border-radius: 4px;
  border-style: none;
  background-color: rgb(152, 187, 187);
  &:hover {
    box-shadow: 3px 3px 20px rgba($color: #12534c, $alpha: 0.3);
  }
  &:active {
    transform: scale(0.9);
  }
}
