.page__header {
  border-bottom: 0.5px solid black;

  margin: 0;
  padding: 30px;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav__link {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-size: x-large;

  &:hover {
    color: rgb(41, 98, 98);
  }
}

.header__icons {
  .cart__amt {
    margin: 10px;
  }
  .fav__amt {
    margin: 10px;
  }
}

.header__icons {
  display: flex;
  justify-content: end;
  // margin-top: 20px;
  align-items: center;
  // max-width: 140px;
}
